#mainPopup {
        padding: 10px;
        height: 200px;
        width: 400px;
        text-align: center;
      }
* {
	font-family: 'Montserrat'
}

h1{
  color: #413e66;
}



#form{
  font-weight: bold;
  font-size: 14px;
  text-align: right;
  margin-right: 20%;
  margin-bottom: 10px;
  margin-top: 10px;
}

.btn-secondary{
  background-color: #0a98c0; 
  border-radius: 25px;
  color: white;
  padding: 10px 15px;
  text-align: center;
  display: inline-block;
  border-style: solid;
  margin-top: 5px;
  outline: none;
}

.btn-secondary:focus {
  border-color: #8ed9ed;
  border-radius: 25px;
  outline: none;
}

label{
  padding: 10px;
}

input:focus {
  border-color: #0a98c0;
  border-radius: 25px;
  outline: none;
}
input {
  border-radius: 25px;
  margin-bottom: 10px;
  margin-top: 5px;
  border: 1px solid grey;
  padding-left: 5px;
}